<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>QLimit</string>
	<key>defaults</key>
	<string>me.qlimit</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>MaxChargingLevel</string>
			<key>label</key>
			<string>Max Charging Level</string>
			<key>default</key>
			<integer>80</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>PostNotification</key>
			<string>me.qlimit/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>key</key>
			<string>SailDepth</string>
			<key>label</key>
			<string>Sail Depth</string>
			<key>default</key>
			<integer>5</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>PostNotification</key>
			<string>me.qlimit/prefschanged</string>
		</dict>
	</array>
</dict>
</plist>
